MythoMax-Kurisu-13b
MythoMaxKurisu-13b
mythomax-kurisu-13b-ggml-q4_k.bin
MythoMax-Kurisu-13b-e1
mythomax-kurisu-13b-e1-ggml-q4_k.bin
MythoMaxKurisu-13b-e2
MythoMaxKurisu-adapter-13b
checkpoint-10
old_models
combined_script.txt
combined_script_bad_data_in_it.txt
outputs/
.DS_Store
MythoMaxKurisu-13b-smaller-epochs/
MistralMakise-13b/
